// sign upページ
@media screen and (max-width: 1024px) {
	#form-logo {
		padding-top: 16px;
		text-align: center;
	}
	.form-container {
		margin-top: 32px;
		margin-left: 32px;
		margin-right: 32px;
		color: #5CC0EF;
	}
}
