// sign upページ
@media screen and (max-width: 1024px) {
	#form-logo {
		padding-top: 16px;
		text-align: center;
	}
	.form-container {
		.form-color {
			color: #C8C8C8;
		}
		.form-label {
			font-weight: 500 !important;
		}
		margin-top: 32px;
		margin-left: 32px;
		margin-right: 32px;
		color: #5CC0EF;
	}
}
